go 1.24.3

toolchain go1.24.5

use (
	.
	// You can comment the following lines if you don't need them
	../../utilities/amqp-helper
	../../utilities/boilerplates
	../../utilities/db-helper
	../../utilities/node-semver
	../../utilities/types
)
